
.unapproved-users-list {
  max-height: 400px; 
  overflow-y: auto; 
  padding: 10px;
  margin-top: 10px;
  background-color: hsl(223, 85%, 4%); 
  border-radius: 10px;
}
.user-card {
  background-color: hsl(222, 84%, 5%);
  padding: 15px;
  margin-bottom: 15px;
  border:none;
  border-radius: 8px; 
  box-shadow: 0 2px 4px #ffffffd3;
}
.user-card p {
  margin: 5px 0; 
}
.light-theme .unapproved-users-list{
  background-color: #f4f4f4;
}
.light-theme .user-card{
  background-color: #ffffff;
  box-shadow: 0 2px 4px #00000085;
  border: 1px solid #f9f9f9;
}
.light-theme .unapproved-users-list p{
  color: rgb(0, 0, 0);
}
/* Button style */
.user-card button {
  background-color: #00bfff; 
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left:90px; 
}
.user-card button:hover {
  background-color: #45a049; 
}
.unapproved-users-list p {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}
@media (max-width:500px){
  .user-card button{
    margin: 0;
  }
}