/* ForgotPassword.css */
.ForgotPassword-container {
    display: flex;
    flex-direction: column;
    color: #007BFF;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0 ;
    background-color: hsl(222, 84%, 5%);
    margin: 5% 0 10% 0;
    
  }
  .light-theme .ForgotPassword-container{
    background-color:white ;
  }
  .light-theme .ForgotPassword-container .ForgotPassword-form label,.light-theme .ForgotPassword-container .ForgotPassword-form input{
    color: black;    
  }
  .ForgotPassword-container h2{
    line-height: 3;
  }
  .ForgotPassword-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
    width: 20%;
    height: 50%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .ForgotPassword-form h2 {
    margin-top: 5px;
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .ForgotPassword-form label {
    font-size: 16px;
    margin-top:auto;
    color: #ffffff;
    margin-bottom: 8px;
    align-self: flex-start;
  }
  
  .ForgotPassword-form input[type="email"] {
    width: 100%;
    color: white;
    
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  
  .ForgotPassword-form input[type="email"]:focus {
    border-color: #007BFF;
    align-items: center;
    outline: none;
  }
  
  .ForgotPassword-form button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .ForgotPassword-form button:hover {
    background-color: #0056b3;
  }
  
  .ForgotPassword-container p {
    margin-top: 20px;
    font-size: 14px;
    color: #28a745;
  }
  @media (max-width: 768px) {
    .ForgotPassword-container {
      margin: 10% 0 20% 0;
    }
    .ForgotPassword-form {
      width: 85%;
    }
  }